<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Authorisation</title>
</head>
@{
  <body>
  <div id="root"></div>
  <script type="text/javascript">window.APPLICATION_SETTINGS = @Model;</script>
  <script src="/authorisation/build/app.js"></script>
  </body>

}
</html>